/* START: 01-log_in.html/01-sign_in.html */
.notLogInForm {
    max-width: 460px;
    border: #eee solid 1px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.35);
}

.notLogInForm .formTable {
    padding: 20px 54px 30px;
}

.notLogInForm .fieldLink a::before {
    font-family: 'Material Icons';
    content: "help";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.notLogInForm .fieldFloatUnit:nth-child(2) {
    width: 90px;
    padding: 0 5px;
}

.notLogInForm .fieldFloatUnit:nth-last-child(1) {
    width: 20px;
    text-align: center;
}

.notLogInForm .fieldFloatUnit:nth-last-child(1) a {
    color: #376D9D;
}

.notLogInForm .formBtn button {
    padding: 15px 5px;
}

.signInContainer .formLink {
    padding: 80px 0 60px;
    text-align: center;
}

.signInContainer .formLink a {
    text-decoration: underline;
    font-size: 1.125rem;
}

.signInContainer .formLink a::before {
    font-family: 'Material Icons';
    content: "chevron_left";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.signInLink a {
    display: block;
    padding: 15px;
    border-radius: 5px;
    border: #d7d7d7 solid 2px;
    text-align: center;
    color: #fff;
    background: #F59A23;
}

.signInLink a:hover {
    text-decoration: none;
    background: #F4A53D;
}

.logInLink a {
    display: block;
    padding: 15px;
    border-radius: 5px;
    border: #d7d7d7 solid 2px;
    text-align: center;
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#027db4+0,02a7f0+50,027db4+100 */
    background: #027db4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #027db4 0%, #02a7f0 50%, #027db4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #027db4 0%, #02a7f0 50%, #027db4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #027db4 0%, #02a7f0 50%, #027db4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027db4', endColorstr='#027db4', GradientType=0);
    /* IE6-9 */
}

.logInLink a:hover {
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#036c96+0,029dd6+50,036c96+100 */
    background: #036c96;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#376d9d+1,2989d8+50,376d9d+100 */
    background: #376d9d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #376d9d 1%, #2989d8 50%, #376d9d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #376d9d 1%, #2989d8 50%, #376d9d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #376d9d 1%, #2989d8 50%, #376d9d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#376d9d', endColorstr='#376d9d', GradientType=0);
    /* IE6-9 */
}

.logInContainer .formLink {
    padding: 80px 0 60px;
    text-align: center;
}

.logInContainer .formLink a {
    text-decoration: underline;
    font-size: 1.125rem;
}

.logInContainer .formLink a::before {
    font-family: 'Material Icons';
    content: "chevron_left";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}
/* END: 01-log_in.html/01-sign_in.html */
/* START: 03-index.html */
.index_msg {
    margin-bottom: 30px;
}

.index_contentInner {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.indexContentItem {
    display: table-cell;
    vertical-align: top;
}

.index_orderHistory {
    padding-right: 20px;
}

.index_orderHistoryInner {
    border-radius: 10px;
    padding: 30px 15px;
    background: #f2f2f2;
    border: #eee solid 4px;
}

.index_orderHistoryItem {
    width: 305px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 30px;
}

.index_orderHistory .content_MainTitle h1::before {
    font-family: 'Material Icons';
    content: "update";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.orderHistory_header {
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 10px 5px 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.index_orderHistoryItem:hover .orderHistory_header {
    transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.orderHistory_headerItem {
    display: table-cell;
    vertical-align: middle;
}

.orderHistory_status {
    text-align: right;
}

.orderHistory_status span {
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 8px;
    font-size: 0.875rem;
}

.orderHistory_table {
    border: #3885B1 solid 1px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.index_orderHistoryItem:hover .orderHistory_table {
    transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.orderHistory_trInner {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.orderHistory_td {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.orderHistory_title {
    width: 90px;
    text-align: right;
    background: #457B9D;
    color: #fff;
    border-bottom: #f7f7f7 dashed 1px;
}

.orderHistory_tr:nth-last-child(1) .orderHistory_title {
    border-bottom: none;
}

.orderHistory_tr:nth-last-child(1) .orderHistory_text {
    border-bottom: none;
}

.orderHistory_text {
    text-align: left;
    border-bottom: #aaa dashed 1px;
    background: #F7F7F7;
}

.orderHistory_text ul {
    height: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.orderHistory_text li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px
}

.orderHistory_text li::after {
    content: "、";
}

.orderHistory_text li:nth-last-child(1)::after {
    content: "";
}

.index_msg {
    background: #eee;
    border-radius: 5px;
    padding: 20px;
    background: url('../img/index_bg.png') left center no-repeat, rgba(125, 185, 232, 0.5);
    background-size: cover;
    border: #eee solid 4px;
}

.index_msgItem {
    font-size: 1rem;
    color: #376D9D;
}

.index_msgItem span {
    font-size: 1rem;
}

.index_comName {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.index_comName span {
    font-size: 1.4rem;
    font-weight: bold;
}

.index_logInTime {
    color: #555;
    padding: 0 2px;
}

.index_year::after,
.index_month::after {
    content: "/";
}

.index_hour {
    margin-left: 5px;
}

.index_hour::after,
.index_min::after {
    content: ":";
}
/* END: 03-index.html */
/* START: 06-fix_register.html */
.fix_register_item {
    background: #eee;
    color: #3885B1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.fix_register_item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fix_register_item li {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    line-height: 1.4;
}

.fix_register_item li::after {
    content: "|";
    margin: 0 3px 0 6px;
    vertical-align: top;
}

.fix_register_item li:nth-child(1)::before {
    font-family: 'Material Icons';
    content: "campaign";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.fix_register_item li:nth-child(1)::after {
    content: "：";
    display: inline-block;
    vertical-align: bottom;
}

.fix_register_item li:nth-last-child(1)::after {
    content: "";
    margin: 0;
}
/* END: 06-fix_register.html */
/* START: 06-fix_search.html */
.fix_search .content {
    background: url('../img/logo_bg.png') center center no-repeat;
    background-size: cover;
}
/* END: 06-fix_search.html */
/* START: 07-guarantee_register.html */
.guarantee_info {
    padding: 15px;
    background: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}

.guarantee_infoInner {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.guarantee_infoItem {
    display: table-cell;
    vertical-align: middle;
}

.guarantee_numTitle,
.guarantee_numText {
    display: inline-block;
    vertical-align: middle;
}

.guarantee_numTitle {
    background: #CF0037;
    color: #fff;
    padding: 5px 15px;
    border-radius: 30px;
    margin-right: 5px;
}

.guarantee_numText {
    color: #CF0037;
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
}

.guarantee_warning {
    text-align: right;
    font-size: 1.125rem;
    color: #555;
}
/* END: 07-guarantee_register.html */
/* START: 07-guarantee_register_success.html */
.serialNumContent {
    color: #CF0037;
}
/* END: 07-guarantee_register_success.html */
/* START: 06-fix_search.html */
.fix_search .searchFormTable_title::before {
    font-family: 'Material Icons';
    content: "construction";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}
/* END: 06-fix_search.html */
/* START: 07-guarantee_search.html */
.guarantee_search .searchFormTable_title::before {
    font-family: 'Material Icons';
    content: "stars";
    font-feature-settings: 'liga';
    margin-right: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.guarantee_search .content {
    background: url('../img/logo_bg.png') center center no-repeat;
    background-size: cover;
}
/* END: 07-guarantee_search.html */
/* START: 07-guarantee_search_result.html */
.guarantee_search_result .infoText_highlight {
    margin-bottom: 0;
}

.guarantee_search_result .highlight_content {
    color: #CF0037;
}
/* END: 07-guarantee_search_result.html */
/* START: 04-material_search */
.material_table .dataTables_wrapper .dataTables_filter,
.material_table .dataTables_wrapper .dataTables_length,
.material_table .dataTables_wrapper .dataTables_paginate,
.material_table .dataTables_wrapper .dataTables_info {
    float: none;
}

.material_table .table_top {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-bottom: 10px;
}

.material_table .table_filter,
.material_table .table_table_info {
    display: table-cell;
    vertical-align: middle;
}

.material_table .dataTables_wrapper .dataTables_filter {
    text-align: left;
}

.material_table .dataTables_wrapper .dataTables_length,
.material_table .dataTables_wrapper .dataTables_info {
    text-align: right;
}

.material_table .dataTables_wrapper .dataTables_paginate {
    text-align: center;
}

.material_table table.dataTable thead th,
.material_table table.dataTable thead td,
.material_table table.dataTable tbody th,
.material_table table.dataTable tbody td {
    padding: 5px;
    border-right: #ccc solid 1px;
}

.material_table table.dataTable thead {
    background: #027DB4;
}

.material_table table.dataTable thead th {
    color: #fff;
    font-weight: normal;
}

.material_table table.dataTable tbody tr:nth-child(even) {
    background: #f7f7f7;
}

.material_table table.dataTable tbody td {
    border-bottom: #ccc solid 1px;
}

.material_table table.dataTable tbody td input {
    width: 100%;
    height: 24px;
    text-align: right;
    border: #aaa solid 1px;
    border-radius: 3px;
    background: #fff;
}

.material_table a {
    color: #3885B1;
}

.material_table table.dataTable tbody td button {
    background: #169BD5;
    padding: 4px 15px;
    border-radius: 3px;
    color: #fff;
}

.table_filter span {
    vertical-align: middle;
    font-size: 1.125rem;
}

.table_filter input {
    border: #aaa solid 1px;
    outline: none;
}

.table_info {
    text-align: right;
}

.dataTables_length,
.dataTables_info {
    display: inline-block;
    vertical-align: baseline;
}

.dataTables_length select {
    display: inline-block;
    height: 27px;
    width: 50px;
    line-height: 25px;
}

.material_table .dataTables_wrapper .dataTables_info {
    padding: 0;
}

.material_table .dataTables_wrapper .dataTables_paginate .paginate_button,
.material_table .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.material_table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.material_table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
    min-width: inherit;
    padding: 10px;
    border: none;
}

.material_table .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #3885B1;
}

.md_popupDialog {
    padding: 0;
}

.md_popupDialog .popup_title {
    margin-bottom: 0;
}

.md_popupDialog .popup_titleText {
    color: #3885B1;
    font-size: 1.125rem;
    font-weight: normal;
    text-align: left;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 4px;
}

.md_popupDialog .popup_msg {
    padding: 15px;
    border: none;
}

.md_popupDialog .popup_msgInner {
    border: #aaa solid 1px;
    border-radius: 4px;
}

.md_popupDialog .popup_msgTitle {
    border: none;
    text-align: left;
    text-decoration: underline;
    color: #555;
    font-weight: bold;
}

.md_popupDialog .popup_msgTitle::before {
    content: "";
    margin: 0;
}

.md_popupDialog .popup_msgTitle::after {
    content: "";
    margin: 0;
}

.md_popupDialog .popup_msgList {
    text-align: left;
    padding: 0 10px 15px;
}

.md_popupDialog .popup_msgList ul {
    max-width: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.md_popupDialog .popup_msgList li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.md_popupDialog .popup_msgList li::after {
    content: "、";
}

.md_popupDialog .popup_msgList li:nth-last-child(1)::after {
    content: "";
}
/* END: 04-material_search */
/* START: 04-material_order_step1.html */
.mateiral_order_step .blockForm_btn {
    overflow: hidden;
}

.mateiral_order_step .blockForm_btn ul {
    float: right;
}

.mateiral_order_step .blockForm_btn li button {
    padding: 14px 30px;
}

.mateiral_order_step1 button.sendBtn::after {
    font-family: 'Material Icons';
    content: "arrow_forward_ios";
    font-feature-settings: 'liga';
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;
}
/* END: 04-material_order_step1.html */
/* START: 04-material_order_step2.html */
.mateiral_order_step2 button.cancelBtn::before {
    font-family: 'Material Icons';
    content: "arrow_back_ios";
    font-feature-settings: 'liga';
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
}
/* END: 04-material_order_step2.html */
/* START: 04-material_order_step3.html */
.mateiral_order_step3 .content_successForm {
    margin-bottom: 10px;
}

.mateiral_order_step3 .register_successTitle {
    padding: 10px 15px;
}

.mateiral_order_step3 .register_successTitle p {
    font-size: 1.125rem;
}

.mateiral_order_step3 .content_date {
    text-align: right;
}

.mateiral_order_step3 .listTable_th {
    background: #376D9D;
    color: #fff;
}

.mateiral_order_step3 .listTable_tr {
    background: none;
}

.mateiral_order_step3 .listTable_tr:nth-child(odd) {
    background: #eee;
}

.mateiral_order_step3 .listFooter_title::before {
    content: "";
}

.mateiral_order_step3 .listFooter {
    background: none;
    padding: 20px 10px;
}

.mateiral_order_step3 .listFooter_sum {
    color: #3885B1;
}

.mateiral_order_step3 .blockForm_btn ul {
    float: none;
}
/* END: 04-material_order_step3.html */
@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {
    /* START: 03-index.html */
    .index_orderHistoryItem {
        width: 100%;
    }

    /* END: 03-index.html */
    /* START: 07-guarantee_register.html */
    .guarantee_infoItem {
        display: block;
        text-align: left;
    }

    .guarantee_warning {
        padding: 15px 0 0;
    }
    /* END: 07-guarantee_register.html */
}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 991px) {
    /* START: 03-index.html */
    .index_orderHistoryItem {
        width: 100%;
    }

    .indexContentItem {
        display: block;
        padding: 0;
        margin-bottom: 30px;
    }
    /* END: 03-index.html */
    /* START: 04-material_search */
    .material_table table.dataTable thead th,
    .material_table table.dataTable thead td,
    .material_table table.dataTable tbody th,
    .material_table table.dataTable tbody td {
        padding: 10px;
    }

    .material_table table.dataTable tbody td input {
        max-width: 100px;
        text-align: left;
    }

    .material_table .dtr-details {
        width: 100%;
    }
    /* END: 04-material_search */
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {
    /* START: 01-log_in.html/sign_in.html */
    .logInContainer {
        height: inherit;
    }

    ..notLogInForm {
        max-width: 100%;
    }

    .notLogInForm .formTable {
        padding: 20px 15px 30px;
    }

    .logInContainer .formLink {
        padding: 60px 0 30px;
    }
    /* END: 01-log_in.html/sign_in.html */
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 440px) {}

@media only screen and (max-width: 420px) {}