body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:771px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:414px;
  height:651px;
}
#u41_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:651px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:676px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:-479px;
  top:676px;
  width:1200px;
  height:676px;
  display:flex;
  -webkit-transform:rotate(307deg);
  -moz-transform:rotate(307deg);
  -ms-transform:rotate(307deg);
  transform:rotate(307deg);
  opacity:0.6;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:676px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:-340px;
  top:0px;
  width:1200px;
  height:676px;
  display:flex;
  opacity:0.6;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:85px;
  background:inherit;
  background-color:rgba(115, 115, 115, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:414px;
  height:85px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:701px;
  width:258px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u45 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u46 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:184px;
  width:386px;
  height:469px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:486px;
  width:237px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u48.disabled {
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:465px;
  width:46px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u49 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u51_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:417px;
  width:355px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u51.disabled {
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:396px;
  width:61px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u52 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u54_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:279px;
  width:355px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u54.disabled {
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:258px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#376D9D;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:136px;
  width:145px;
  height:32px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#376D9D;
}
#u56 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-5px;
  width:434px;
  height:140px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:120px;
  display:flex;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:55px;
  width:120px;
  height:51px;
  display:flex;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:185px;
  width:193px;
  height:45px;
  display:flex;
  color:#F2F2F2;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1px;
  color:#CF0037;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:196px;
  width:86px;
  height:21px;
  display:flex;
  letter-spacing:1px;
  color:#CF0037;
}
#u61 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:185px;
  width:192px;
  height:45px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1px;
  color:#AAAAAA;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:197px;
  width:86px;
  height:21px;
  display:flex;
  letter-spacing:1px;
  color:#AAAAAA;
}
#u63 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u65_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:347px;
  width:355px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
}
#u65.disabled {
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:326px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1px;
  color:#111111;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:488px;
  width:84px;
  height:30px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:15px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:496px;
  width:42px;
  height:15px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:15px;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:493px;
  width:19px;
  height:19px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71 label {
  left:0px;
  width:100%;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:534px;
  width:80px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#376D9D;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u71_img.selected {
}
#u71.selected {
}
#u71_img.disabled {
}
#u71.disabled {
}
#u71_img.selectedDisabled {
}
#u71.selectedDisabled {
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:64px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(2, 125, 180, 1) 0%, rgba(2, 167, 240, 1) 52%, rgba(2, 125, 180, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(2, 125, 180, 1) 0%, rgba(2, 167, 240, 1) 52%, rgba(2, 125, 180, 1) 100%);
  background:linear-gradient(180deg, rgba(2, 125, 180, 1) 0%, rgba(2, 167, 240, 1) 52%, rgba(2, 125, 180, 1) 100%);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(247, 247, 247, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:585px;
  width:350px;
  height:45px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:597px;
  width:33px;
  height:21px;
  display:flex;
  color:#FFFFFF;
}
#u74 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#376D9D;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:382px;
  width:49px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#376D9D;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:385px;
  width:11px;
  height:11px;
  display:flex;
  color:#376D9D;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:185px;
  width:193px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:185px;
  width:193px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:585px;
  width:350px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:382px;
  width:63px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
